{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path('portada') }}"><i class="fas fa-key"></i> PrestaKeys</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Mostrar secciones">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            {% set ruta = app.request.get('_route') %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if ruta == "portada" %} active{% endif %}">
                    <a class="nav-link" href="{{ path('portada') }}"><i class="fas fa-home"></i> Portada <span class="sr-only">(actual)</span></a>
                </li>
                <li class="nav-item{% if ruta starts with "usuario_" %} active{% endif %}">
                    <a class="nav-link" href="{{ path('usuario_listar') }}"><i class="fas fa-users"></i> Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sección 2</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}