{% extends 'layout.html.twig' %}

{% block title %}{% if dependencia.id %}Modificar dependencia{% else %}Nueva dependencia{% endif %}{% endblock %}

{% block content %}
    {% if dependencia.id %}
        <h1>Modificar dependencia</h1>
    {% else %}
        <h1>Nueva dependencia</h1>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('dependencia_listar') }}" class="btn btn-info"><i class="fas fa-arrow-left"></i> Volver al listado</a>
    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Guardar cambios</button>
    {{ form_end(form) }}
{% endblock %}
