{% extends 'layout.html.twig' %}

{% block title %}Eliminar llave{% endblock %}

{% block content %}
    <h1>Eliminar llave</h1>

    <div class="alert alert-danger">
        ¡Atención! Esta operación no se puede deshacer.
        ¿Desea realmente eliminar la llave {{ llave.codigo }}?
    </div>

    <form method="post">
        <a href="{{ path('llave_editar', {'id': llave.id}) }}" class="btn btn-info"><i class="fas fa-arrow-left"></i> Volver</a>
        <button type="submit" class="btn btn-danger" name="borrar"><i class="fas fa-trash"></i> Confirmar borrado</button>
    </form>
{% endblock %}
