{% extends 'layout.html.twig' %}

{% block title %}Modificar llave{% endblock %}

{% block content %}
    <h1>Modificar llave</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Guardar cambios</button>
    <button type="submit" name="borrar" class="btn btn-danger"><i class="fas fa-trash"></i> Eliminar llave</button>
    {{ form_end(form) }}

{% endblock %}
