{% extends 'layout.html.twig' %}

{% block title %}Listado de llaves prestadas{% endblock %}

{% block content %}
    <h1>Listado de llaves prestadas</h1>

    {% include 'llaves/listar_partial.html.twig' %}
{% endblock %}
