{% extends 'layout.html.twig' %}

{% block title %}Listado de usuarios{% endblock %}

{% block content %}
    <h1>Listado de usuarios</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id.</th>
                <th>Apellidos</th>
                <th>Nombre</th>
                <th>¿Es ordenanza?</th>
                <th>¿Es secretario?</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.apellidos }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{% if usuario.ordenanza %}Sí{% else %}No{% endif %}</td>
                    <td>{% if usuario.secretario %}Sí{% else %}No{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
